<h1>Actualizar Mundo</h1>

@if (mensaje()) {
<p style="color: green;">{{ mensaje() }}</p>
}
@if (error()) {
<p style="color: red;">{{ error() }}</p>
}

@if (mundos().length > 0) {
<label>Selecciona un mundo:</label>
<select [ngModel]="seleccionadoId()" (ngModelChange)="seleccionadoId.set($event)">
    <option [value]="null">-- Selecciona --</option>
    @for (mundo of mundos(); track mundo.id) {
    <option [value]="mundo.id">{{ mundo.nombre }}</option>
    }
</select>

}

@if (mundoSeleccionado()) {
<form [formGroup]="form" (ngSubmit)="actualizar()" style="margin-top: 20px;">
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" />
    @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
    <p style="color: red;">El nombre es obligatorio</p>
    }

    <label>Historia:</label>
    <textarea formControlName="historia"></textarea>
    @if (form.get('historia')?.invalid && form.get('historia')?.touched) {
    <p style="color: red;">La historia es obligatoria</p>
    }

    <button type="submit" [disabled]="form.invalid">Actualizar</button>
</form>
}