.slide-up {
  animation: slideUp 0.8s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalAppear {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    60% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}

/* Animación de aparición */
@keyframes modalAppear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes glitch {
  0% {
   clip-path: var(--slice-1);
   transform: translate(-20px, -10px);
  }
 
  10% {
   clip-path: var(--slice-3);
   transform: translate(10px, 10px);
  }
 
  20% {
   clip-path: var(--slice-1);
   transform: translate(-10px, 10px);
  }
 
  30% {
   clip-path: var(--slice-3);
   transform: translate(0px, 5px);
  }
 
  40% {
   clip-path: var(--slice-2);
   transform: translate(-5px, 0px);
  }
 
  50% {
   clip-path: var(--slice-3);
   transform: translate(5px, 0px);
  }
 
  60% {
   clip-path: var(--slice-4);
   transform: translate(5px, 10px);
  }
 
  70% {
   clip-path: var(--slice-2);
   transform: translate(-10px, 10px);
  }
 
  80% {
   clip-path: var(--slice-5);
   transform: translate(20px, -10px);
  }
 
  90% {
   clip-path: var(--slice-1);
   transform: translate(-10px, 0px);
  }
 
  100% {
   clip-path: var(--slice-1);
   transform: translate(0);
  }
 }


@keyframes shadowMovement {
  0%,
  49% {
    opacity: 0.5;
  }
  50%,
  100% {
    opacity: 0.2;
  }
}