.home-section {
  background-color: rgb(158, 62, 69);
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.gif-principal {
  position: absolute;
justify-self: center;
align-self: flex-start;
}

.clickable {
  cursor: pointer;
}