.home-section {
  background-color: #bf2541;
  display: flex;
  overflow: hidden;
  height: 90vh;
  width: 100%;
}

.gif-principal {
justify-self: center;
align-self: center;
}

@media (max-width: 768px) {
  .home-section {
    flex-direction: column; /* 🔧 Opcional: cambia a disposición vertical si hay más contenido */
    height: auto; /* 🔧 Deja que la altura se adapte al contenido */
    padding: 1rem; /* 🔧 Agrega algo de espacio interno */
  }

  .gif-principal {
    align-self: center;
    justify-self: center;
    max-width: 100%; /* 🔧 Asegura que no se desborde */
  }
}
