<div class="dashboard-bar">
  <!-- Secciones públicas -->
  <button class="glitched" (click)="navegar('/')">INICIO</button>
  <button class="glitched" (click)="navegar('/mundos')">MUNDOS</button>
  <button class="glitched" (click)="navegar('/personajes')">PERSONAJES</button>
  <button class="glitched" (click)="navegar('/enemigos')">ENEMIGOS</button>
  <button class="glitched" (click)="navegar('/escenarios')">ESCENARIOS</button>

  <!-- Secciones condicionales -->
  @if (!isLoggedIn()) {
    <button class="glitched" (click)="navegar('/login')">LOGIN</button>
    <button class="glitched" (click)="navegar('/register')">REGISTRO</button>
  }

  @if (isLoggedIn()) {
    <button class="glitched" (click)="navegar('/galeria')">GALERÍA</button>
  }

  @if (isAdmin()) {
    <button class="glitched" (click)="navegar('/admin')">ADMIN</button>
  }

  <button class="glitched" (click)="navegar('/documentacion')">DOCUMENTACIÓN</button>

    @if (isLoggedIn()) {
    <button class="glitched" (click)="logout()" style="background: black;">LOGOUT</button>
  }
</div>
