
  .modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    animation: modalAppear 0.3s ease-out;
  
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  
  .modal-close {
    all: unset ;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
  .modal-content {
    padding: 1rem;
    max-width: 95%;
    width: 95%;
    font-size: 0.9rem;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 0.75rem;
    }

    img {
      margin-bottom: 0.75rem;
    }
  }

  .modal-close {
    font-size: 1.25rem;
    top: 5px;
    right: 5px;
  }
}
