.personajes-container {
  min-height: 80vh;
  padding: 2rem 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 5%;
}

.personajes-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr)); // Hasta 4 por fila
  gap: 35px; // Espaciado entre personajes
  width: 100%;
  max-width: 800px;
  justify-content: center;
  align-content: center;
}

.personaje-card {
  background-color: #1D1D27;
  border-radius: 0.5rem; // Redondeado estilo ficha
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem; // también redondea la imagen
    display: block;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #000;
    z-index: 2;
  }
}
