<section class="personajes-container">
  @defer (when personajes().length > 0) {
    <div class="personajes-grid">
      @for (personaje of personajes(); track personaje.id) {
        @if (personaje.esEnemigo === false) {
          <div class="personaje-card" (click)="seleccionar(personaje)">
            <img [src]="personaje.iconoUrl" [alt]="personaje.nombre" />
          </div>
        }
      }
    </div>
  } @placeholder {
    <app-loader />
  }

  @if (seleccionado()) {
    <app-personaje [personaje]="seleccionado()!" (cerrar)="cerrarModal()" />
  }
</section>
