<div class="container my-5">
  <h1 class="mb-4">Panel de Administración</h1>

  <button class="btn btn-outline-danger mb-4" (click)="logout()">Cerrar sesión</button>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Mundos</h5>
          <a routerLink="/admin/mundos/crear" class="btn btn-primary w-100">Gestionar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Personajes</h5>
          <a routerLink="/admin/personajes/crear" class="btn btn-primary w-100">Gestionar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Escenarios</h5>
          <a routerLink="/admin/escenarios/crear" class="btn btn-primary w-100">Gestionar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Imágenes</h5>
          <a routerLink="/admin/imagenes/crear" class="btn btn-primary w-100">Gestionar</a>
        </div>
      </div>
    </div>

  </div>
</div>
