*{
    background-color: rgb(158, 62, 69);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#mundos{
    height: 100%;
    width: 100%;
}

.mundos-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  