.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-color: none;
  margin: 5%;
}

.loader-img {
  width: 40vw;
  height: 100%;
  animation: pulseOpacity 2s infinite;
}
