.escenarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 5%;
  }


@media (max-width: 768px) {
  .escenarios-container {
    padding: 1rem 1rem;
    /* 🔧 Menor padding lateral en móvil */
    gap: 1rem;
    /* 🔧 Reduce la separación entre elementos */
  }
}