<div id="inicio">
  <app-home></app-home>
</div>

<div id="mundos">
  <h1>MUNDOS</h1>
  <app-mundo-list />
</div>

<div id="personajes">
  <h1>PERSONAJES</h1>
  <app-personaje-list />
</div>

<div id="enemigos">
  <h1>ENEMIGOS</h1>
  <app-enemigo-list />
</div>

<div id="escenarios">
  <h1>ESCENARIOS</h1>
  <app-escenario-list />
</div>

<div id="documentacion">
  <h1>DOCUMENTACIÓN</h1>
</div>

@let isLogged = false;
@let isAdmin = false;

@if(!isLogged){
<div id="login">
  <h1>LOGIN</h1>
  <app-login />
</div>
}
@if(isLogged){
@if(isAdmin){
<div id="admin">
  <h1>ADMIN</h1>
</div>
}
}