<!-- @if (loginService.isLoggedIn()) {
  <button routerLink="/admin">Ir al panel de administración</button>
} -->

<app-home></app-home>



@defer (on viewport;prefetch on idle){
<app-mundo-list />
}@placeholder {
<div class="loader">Próximamente mundos...</div>
}
@loading{
<div class="loader">Cargando mundos...</div>
}
@error {
<div class="error-message">
  Ocurrió un error al cargar los datos. Intenta recargar la página o vuelve más tarde.
</div>
}

@defer (on viewport;prefetch on idle){
<app-personaje-list />
} @placeholder {
<div class="loader">Próximamente personajes...</div>
}
@loading{
<div class="loader">Cargando personajes...</div>
}
@error {
<div class="error-message">
  Ocurrió un error al cargar los datos. Intenta recargar la página o vuelve más tarde.
</div>
}



@defer (on viewport;prefetch on idle){
<app-escenario-list />
}@placeholder {
<div class="loader">Próximamente escenarios...</div>
}
@loading{
<div class="loader">Cargando escenarios...</div>
}
@error {
<div class="error-message">
  Ocurrió un error al cargar los datos. Intenta recargar la página o vuelve más tarde.
</div>
}