
.logo-estatico {
    width: 10%;
    height: auto;
    object-fit: contain;
    position: fixed;
    justify-self: start;
    align-self: start;
    transform: none;
    z-index: 101;
    padding: 1%;
  }