.personajes-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Vertical */
  justify-content: center; /* Centrar verticalmente */
  align-items: center;     /* Centrar horizontalmente */
  gap: 1.5rem;
  padding: 2rem 5%;
  box-sizing: border-box;
}

.personaje-card {
  background-color: rgb(158, 62, 69);
  width: 300px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;

  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
  }

  &:hover {
    transform: scale(1.05);
    z-index: 2;
  }
}
                                        